/* -------------------------------------------------- HERO -------------------------------------------------- */
/* -------------------------------------------------- HERO -------------------------------------------------- */
.hero {
  padding-top: 80px;
  position: relative;
}

.hero::after {
  content: "";
  background: url(../images/Main/decor-large.svg) repeat-x;
  bottom: 106px;
  width: 100%;
  height: 48px;
  position: absolute;
  z-index: -1;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 28px;
}


.hero h1 {
  margin-bottom: 40px;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.hero h1 strong {
  color: #3596ed;
}

.hero-info .text {
  margin-bottom: 140px;
  max-width: 440px;
}

.hero-images {
  position: relative;
  display: flex;
}

.hero-choose {
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  padding: 22px;
  max-width: 160px;
  text-align: center;
  border: 1px solid #535755;
  background: rgba(255, 255, 255, 0.9);
}

/* -------------------------------------------------- NEWS -------------------------------------------------- */
/* -------------------------------------------------- NEWS -------------------------------------------------- */

.news-container {
  display: flex;
  gap: 28px;
}

.news-article {
  display: flex;
  flex-direction: column;
  border: 1px solid #d3cbd9;
  background-color: #fff;
  max-width: 284px;
  overflow: hidden;
}

.news-article img {
  display: block;
}

.news-info {
  padding: 20px 20px 0px;
  margin-bottom: 12px;
}

.news-date {
  margin-bottom: 8px;
  display: inline-block;
}

.news-info .text {
  color: #2c332f;
}

.news-article footer {
  padding: 0 20px 20px;
  margin-top: auto;
}

.news-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #3596ed;
}

.news-link::after {
  display: inline-block;
  content: "";
  width: 22px;
  height: 9px;
  background-image: url(../images/Main/arrow-right.svg);
  transition: transform 0.3s;
}

.news-link:hover::after {
  transform: translateX(6px);
}

/* -------------------------------------------------- FAQ -------------------------------------------------- */
/* -------------------------------------------------- FAQ -------------------------------------------------- */

.faq{
  position: relative;
}

.faq::before{
  content: "";
  position: absolute;
  top: 295px;
  z-index: -1;
  width: 40%;
  height: 48px;
  background: url(../images/Main/decor-large.svg) repeat-x;
}

.faq-container {
  display: flex;
  gap: 28px;
}

details{
  margin-bottom: 20px;
  border-block: 1px solid #d3cbd9;
}

details[open] summary::after{
  transform: rotate(180deg);
}

summary{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  cursor: pointer;
}

summary::after{
  content: "";
  display: inline-block;
  width: 17px;
  height: 22px;
  background: url(../images/Main/arrow-down.svg) no-repeat center / cover;
}

summary::-webkit-details-marker{
  display: none;
}

details > p {
  padding: 0 20px 20px;
}