.catalog__section {
  padding: 150px 0;
}

.catalog__grid-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.catalog__card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  z-index: 1;
}

.card__product-img {
  width: 100%;
  height: auto;
}

.catalog__card-content {
  margin: 20px 40px 30px;
  z-index: 1;
}

.card__title {
  font-family: var(--second-family);
  font-weight: 900;
  /* 1400-390 */
  font-size: clamp(16px, 0.575rem + 1.49vw, 30px);
  position: sticky;
  margin-bottom: 11px;
  z-index: 1;
  -webkit-transition: color var(--transition-time);
  -o-transition: color var(--transition-time);
  transition: color var(--transition-time)
}


.card__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__button-text {
  font-weight: 400;
  /* 1400-390 */
  font-size: clamp(14px, 0.547rem + 1.09vw, 24px);
  margin-right: 20px;
  z-index: 1;
  -webkit-transition: color var(--transition-time);
  -o-transition: color var(--transition-time);
  transition: color var(--transition-time)
}

.card__button::after {
  content: "";
  display: block;
  background-image: url(../../icons/icon-right-catalog.svg);
  width: 34px;
  height: 34px;
  z-index: 1;
  -webkit-transition: -webkit-filter var(--transition-time), -webkit-transform var(--transition-time);
  transition: -webkit-filter var(--transition-time), -webkit-transform var(--transition-time);
  -o-transition: filter var(--transition-time), transform var(--transition-time);
  transition: filter var(--transition-time), transform var(--transition-time);
  transition: filter var(--transition-time), transform var(--transition-time), -webkit-filter var(--transition-time), -webkit-transform var(--transition-time);
}

.card__hover-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background-color: var(--main-color);
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: border-radius var(--transition-time), -webkit-transform var(--transition-time);
  transition: border-radius var(--transition-time), -webkit-transform var(--transition-time);
  -o-transition: transform var(--transition-time), border-radius var(--transition-time);
  transition: transform var(--transition-time), border-radius var(--transition-time);
  transition: transform var(--transition-time), border-radius var(--transition-time), -webkit-transform var(--transition-time);
  z-index: 0;
}

@media (any-hover: hover) {
  .catalog__card:hover .card__hover-bg {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .catalog__card:hover .card__button-text {
    color: var(--bg-color);
  }

  .catalog__card:hover .card__title {
    color: var(--bg-color);
  }

  .catalog__card:hover .card__button::after {
    -webkit-filter: invert(100%);
            filter: invert(100%);
    -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
            transform: translateX(20px);
  }
}


@media (width <=900px) {
  .catalog__section {
    padding: 60px 0 70px;
  }

  .card__button::after {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }

  .card__button-text {
    margin-right: 8px;
  }

  .catalog__card-content {
    margin: 10px 12px 14px;
    z-index: 1;
  }

  .card__hover-bg {
    height: 90px;
  }
}

@media (width < 700px) {
  .catalog__section {
    padding: 30px 0 45px;
  }

  .catalog__grid-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .catalog__grid-cards {
    gap: 10px;
  }
}