* {
  font-family: Arial, Helvetica, sans-serif;
}

fieldset {
  max-width: 350px;
}

.container {
  padding: 10px 50px 10px 10px;
}

.form-title {
  margin: 0;
}

label {
  display: block;
  padding-top: 10px;
}

.input, textarea {
  width: 250px;
  height: 24px;
  display: block;
  margin: 5px 0px 5px;
  padding-left: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.textarea {
  max-width: 250px;
  max-height: 200px;
  height: 50px;
}

.checkbox {
  margin-right: 10px;
}

.button {
  border: none;
  border-radius: 6px;
  width: 100px;
  height: 25px;
  margin-top: 10px;
  cursor: pointer;
}

