/* BASE */
@import "./base/normalize.css";
@import "./base/fonts.css";
@import "./base/vars.css";
@import "./base/globals.css";

/* BLOCKS */
@import "./Blocks/header.css";
@import "./Blocks/menu.css";
@import "./Blocks/burger.css"