.article {
  padding-bottom: 120px;
}

.article-title {
  margin-top: 80px;
  max-width: 596px;
  font-family: Oswald;
  font-weight: 600;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
}

.article-title-large {
  font-size: 48px;
}

.article-title-medium {
  font-size: 36px;
}

.article-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article-text-bm {
  margin-bottom: 80px;
}

.article-img {
  width: 100%;
  padding-bottom: 40px;
}

.article-decor-1::before {
  z-index: -1;
  position: absolute;
  content: "";
  display: block;
  width: 528px;
  height: 48px;
  left: -348px;
  top: 100px;
  background: url(../images/Article/decor-icon.svg) no-repeat;
}

.article-list {
  margin-top: 0;
  padding-left: 14px;
}

.article-item {
  margin-bottom: 12px;
}

.article-item::marker{
  color: #3596ED;
  font-size: 22px;
}

.article-item:last-child {
  margin-bottom: 80px;
}

.article-video {
  object-fit: fill;
  width: 100%;
  margin-bottom: 40px;
}

.article-play{
  display: flex;
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: #3596ED;
  border-radius: 50%;
  border: none;
  align-items: center;
  justify-content: center ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.article-decor {
  position: relative;
  display: flex;
}

.article-decor-2::after {
  z-index: -1;
  position: absolute;
  content: "";
  display: block;
  width: 528px;
  height: 48px;
  right: -350px;
  bottom: 240px;
  background: url(../images/Article/decor-icon.svg) no-repeat;
}

