html {
  font-family: Ububntu, sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}