.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d3cdb9;
  gap: 20px;
}

.phone{
  text-align: right;
}

.phone a:hover{
  color: #3596ED;
}

.phone-text {
  color: #858e8a;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.phone a {
  font-weight: 500;
  font-size: 18px;
  color: #2c332f;
  transition: color 0.3s;
}