.advantages__section {
  padding: 150px 0;
}

.advantages__title {
  margin-bottom: 60px;
}

.advantages__grid-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.advantages__card {
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 280px;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: scale var(--transition-time), box-shadow var(--transition-time);
}

@media (any-hover: hover) {
  .advantages__card:hover {
    scale: 1.1;
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.152);
  }
}

.advantages__card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.advantages__card-icon {
  margin-bottom: 30px;
}

.advantages__card-title {
  font-family: var(--second-family);
  margin-bottom: 13px;
  font-weight: 900;
  font-size: 20px;
  color: #000;
}

.advantages__card-text {
  max-width: 275px;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #000;
}

@media (width <=1000px) {
  .advantages__section {
    padding: 60px 0 70px;
  }

  .advantages__title {
    font-size: 26px;
    margin-bottom: 40px;
  }

  .advantages__card {
    min-height: 190px;
  }

  .advantages__card-icon {
    width: 50px;
    height: 54px;
  }

  .advantages__card-title {
    font-size: 14px;
  }

  .advantages__card-text {
    font-size: 12px;
  }

  .advantages__grid-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .advantages__section {
    padding: 45px 0;
  }

  .advantages__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .advantages__card {
    min-height: 116px;
    justify-content: flex-start;
    text-align: start;
  }

  .advantages__card-icon {
    margin: 0 60px 0 42px;
  }

  .advantages__card-content {
    justify-content: space-between;
    flex-direction: row;
  }

  .advantages__card-title {
    font-size: 13px;
    margin-bottom: 8px;
  }

  .advantages__grid-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}