.burger {
  z-index: var(--layer-3);
  position: relative;
}

.header__menu {
  position: fixed;
  left: -100vw;
  top: 0;
  bottom: 0;
  z-index: var(--layer-2);
  background-color: var(--main-color);
  min-width: 250px;
  padding: 80px 0 0 0;
  box-shadow: -2px 0 20px var(--main-color);
  opacity: 0;
  visibility: hidden;
  transition: left var(--transition-time), opacity var(--transition-time), visibility var(--transition-time);
}


.burger--open {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.header__menu--open {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.burger__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  
}

.menu__link {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 20px;
  color: var(--bg-color);
}


.burger__button-icon,
.burger--open .burger__button-cross {
  display: block;
}

.burger__button-cross,
.burger--open .burger__button-icon {
  display: none;
}

@media (width <=768px) {
  .header__menu {
    min-width: 175px;
  }
  .menu__link {
    font-size: 14px;
  }
}