* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  border: 2px solid #000;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  padding: 30px;
}

fieldset {
  border: none;
  padding: 0;
}

.container {}

.form-title {
  margin: 0 0 10px;
}

label {
  display: block;
  padding-top: 10px;
}

.input, textarea {
  max-width: 332px;
  width: 100%;
  height: 24px;
  display: block;
  margin: 10px 0 10px;
  padding-left: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.textarea {
  width: 100%;
  max-height: 200px;
  height: 50px;
}

.checkbox-label{
  padding-left: 22px;
}

.checkbox {
  appearance: none;
  position: absolute;
  outline: none;
}

.checkbox::after{
  content: "";
  position: absolute;
  margin-left: -22px;
  width: 16px;
  height: 16px;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox:checked::after{
  background: url(./images/check-icon.svg) no-repeat center, #9228e4;
}

.button {
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  padding: 6px 18px;
  background-color: #9228e4;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  opacity: 0.80;
}

.button:active {
  background-color: #6907b4;
}

.input:focus-visible,
.textarea:focus-visible,
.checkbox:focus-visible:after,
.button:focus-visible {
  outline: 2px solid #9228e4;
  outline-offset: 1px;
}