/* BASE */
@import url("./base/normalize.css");
@import url("./base/fonts.css");
@import url("./base/vars.css");
@import url("./base/globals.css");

/* BLOCKS */
@import url("./Blocks/header.css");
@import url("./Blocks/menu.css");
@import url("./Blocks/burger.css");
@import url("./Blocks/hero.css");
@import url("./Blocks/air-mag.css");
@import url("./Blocks/product.css");

