html {
  font-family: Ububntu, sans-serif;
}

body, * {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.article{
  padding-bottom: 120px;
}

.article-title {
  margin-top: 80px;
  max-width: 596px;
  font-family: Oswald;
  font-weight: 600;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
}

.article-title-large {
  font-size: 48px;
}

.article-title-medium {
  font-size: 36px;
}

.article-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article-text-bm {
  margin-bottom: 80px;
}

.article-img {
  width: 100%;
}

.article-list{
  margin-top: 0;
  padding-left: 14px;
}

.article-item{
  margin-bottom: 12px;
}

.article-item:last-child{
  margin-bottom: 80px;
}

.article-video{
  object-fit: fill;
  width: 100%;
  margin-bottom: 40px;
}