/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.faq__section {
  padding: 150px 0 150px;
  background-color: var(--second-bg-color);
}

.faq__title {
  margin-bottom: 60px;
}

.accordeon__text {
  max-width: 1000px;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 50px;

}

.faq__accordeon-details {
  margin-bottom: 20px;
  border-block: 1px solid #d3cbd9;
}

.faq__accordeon-details[open] .accordeon__title::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: url(../../icons/accordeon-icon-accent.svg) no-repeat center / cover;
}

.accordeon__title {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 35px 0px 35px;
  cursor: pointer;
  font-size: 20px;
  line-height: 150%;
}

.accordeon__title::after {
  content: "";
  display: inline-block;
  width: 38px;
  height: 38px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(../../icons/accordeon-icon.svg) no-repeat center / cover;
}

.accordeon__title::-webkit-details-marker {
  display: none;
}



@media (width <=1200px) {
  .faq__section {
    padding: 60px 0 75px;
  }

  .faq__title {
    font-size: 26px;
    margin-bottom: 40px;
  }

  .accordeon__title {
    font-size: 16px;
    padding: 18px 0 18px;
  }

  .accordeon__text {
    font-size: 14px;
    max-width: 800px;
    padding-bottom: 30px;
  }

  .accordeon__title::after {
    width: 32px;
    height: 32px;
  }
}

@media (width <=650px) {
  .faq__section {
    padding: 46px 0 46px;
  }

  .faq__title {
    font-size: 20px;
  }

  .accordeon__title {
    font-weight: 300;
    font-size: 13px;
    line-height: 140%;
    padding: 16px 0 16px;
  }

  .accordeon__text {
    font-size: 14px;
    padding-bottom: 20px;
  }

  .accordeon__title::after {
    width: 26px;
    height: 26px;
  }
}