/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.opinions__section {
  background-color: var(--second-bg-color);
  padding-top: 125px;
}

.opinions__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opinions__content {
  padding-bottom: 80px;
  position: relative;
}

.opinions__title {
  top: -90px;
  white-space: nowrap;
  position: absolute;
}

.opinions__text {
  max-width: 670px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #000;
}

.opinions__text:last-child {
  margin-bottom: 0;
}

@media (width <=1200px) {
  .opinions__content {
    padding: 0 70px 70px;
  }

  .opinions__title {
    font-size: 26px;
    top: -50px;
  }

  .opinions__text {
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 10px;

  }

  .opinions__img {
    display: none;
  }
}

@media (width <=768px) {
  .opinions__section {
    background-color: var(--mobile-second-color);
    padding-top: 60px;
  }
}

@media (width <=560px) {
  .opinions__section {
    background-color: var(--second-bg-color);
  }

  .opinions__content {
    padding: 0 0 46px 0;
  }

  .opinions__title {
    font-size: 20px;
    white-space: wrap;

  }
}