.table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: sans-serif;
  padding: 5px;
}

caption {
  border: 1px solid #000;
  font-weight: 700;
  font-size: 20px;
  border-bottom: none;
}

td, th {
  border: 1px solid #000;
  padding: 2px 6px;
  text-align: center;
}

.out {
  color: red;
}