* {
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3);
}

.box1 {
  background-color: red;
  grid-column: 1 / 12 span;
  min-height: 100px;
}

.box2 {
  background-color: yellow;
  grid-column: 1 / 3;
  min-width: 225px;
}

.box3 {
  background-color: green;
  grid-column: 3 / 12 span;
  padding-top: 30px;
  padding-bottom: 30px;
}

.grid-container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;


  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit);
  gap: 30px;
}

.grid-item {
  min-width: 250px;
  min-height: 350px;
  display: grid;
  align-items: center;
  background-color: orange;
}

.box4 {
  background-color: blue;
  grid-column: 1 / 12 span;
  min-height: 250px;
}


@media (width <= 840px) {
  .box2 {
    display: none;
  }

  .box3 {
    grid-column: 1 / 12 span;
  }
}